.banner-image{
    margin: 20px 20px;
    border-radius: 20px;
    position: relative;
    height: 300px;
    background-image: url("/static/images/banner_image.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.text-shadow {
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}